@font-face {
    font-family: 'ERASBD';
    src: url('../fonts/ERASBD.TTF');
    src: local('ERASBD'), local('ERASBD'), url('../fonts/ERASBD.TTF') format('truetype');
}

.hidden {
    display: none;
}

.hv_img{
    transition: 0.5s;
}

.hv_img:hover{
    transform: scale(1.1);
}

.cen {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hide {
    display: none;
}